* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#global {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
}

.slot {
    border: 2px solid cadetblue;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.ligne {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes fondu {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

#timer {
    width: min-content;
    height: min-content;
    color: coral;
    font-size: 4rem;
    margin-left: 10%;
}

#timer > i > span {
    margin-left: 20%;
    position: fixed;

}